.leftBar {
  transform: translateX(30px);
}

.contentDiv {
  padding-top: 100px;
}

.barSpacing {
  padding-top: 10px;
}

.barSpacingTwo {
  padding-top: 20px;
}

.activityList {
  padding-top: 20px;
}
