.displayInfo {
  padding-top: 40px;
}

.mainDisplay {
  padding-top: 150px;
}

.contentDiv {
  min-height: 300px;
}

.profPic {
  transform: translateX(50px);
}

.name {
  padding-top: 20px;
}
.editButton {
  padding-top: 20px;
}
